
@font-face {
    font-family: 'nanumbarungothicregular';
    src: url('../fonts/nanumbarungothic-webfont.eot');
    src: url('../fonts/nanumbarungothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nanumbarungothic-webfont.woff2') format('woff2'),
    url('../fonts/nanumbarungothic-webfont.woff') format('woff'),
    url('../fonts/nanumbarungothic-webfont.ttf') format('truetype'),
    url('../fonts/nanumbarungothic-webfont.svg#nanumbarungothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family:'nanumbarungothicregular';
}


/* header */
.header-bar {
    padding-top:80px;
    width:100%;
    height:500px;
    background-image:url('../img/wood.jpg');
    margin-bottom:80px;
    text-align:center;
}
.shadow {
    margin-top:-30px;
    width:100%;
    height:170px;
    background-color: #0f0b07;
    opacity:0.8;
}
.my-photo {
    float:left;
    margin-top:45px;
    margin-right:50px;
    margin-left:20%;
    height:200px;
    width:200px;
}
.my-info
{
    margin:0 auto;
    padding-top:60px;
    padding-bottom:70px;

}
.myself-font {
    color:white;
    text-align: left;
    margin-top:40px;
    font-size:120%;
    font-weight: 300;
    margin-bottom:30px;
}
/* ¼Ò°³ */
.self-font {
    color:white;
    text-align:left;
    width:700px;
    margin:0 auto;
    padding-top:30px;
    font-weight:100;
    font-size:95%;
}

/* navigation */
.navigation {
    position:fixed;
    top:0;
    z-index:9999;
    width:100%;
}
ul {
    list-style:none;
    margin-right:30px;
}

nav {
    background-color: white;
    height:80px;
}
nav a {
    text-decoration: none;
    color:red;
}
nav li {
    display:inline-block;
    padding:22px 30px;
    padding-top:35px;
}
nav li a {
    text-decoration: none;
    padding:27px;
    color:black;
    font-weight: bold;
}
nav li a:hover {
    color:red;
}

.home{
    text-decoration:none;
    float:left;
    color:red;
    padding-top:34px;
    padding-left:40px;
    margin-right:20px;
    font-weight:bold;
    font-size:130%;
}
.home :hover {
    color:black;
}

.menu-margin {
    margin-top:-10px;
    margin-left:20%;
}
.menu-font {
    width:20%;
    color:black;
    margin-left:20%;
}
.menu-font:hover {
    color:red;
}


/* language skills */
.skills {
    height:600px;
    letter-spacing:0.1px;
    line-height:130%;
}

.skill-img {
    margin-top:10px;
    margin-left:50px;
    width:170px;
    height:170px;
}
.skill-font {
    width:240px;
    color:black;
    font-size:100%;
    font-weight:bold;
    text-align:center;
    margin:25px 0;
}
.skill-font2 {
    width:220px;
    color:black;
    font-size:90%;
    margin-left:25px;
}
.division {
    float:left;
    width:20%;
}


/* experience */
.experience {
    background-image:url('../img/exp.png');
    width:100%;
    height:580px;
    margin-bottom:80px;
    letter-spacing:0.1px;
    line-height:130%;
}
.exp-box {
    margin-left:100px;
}
.exp-period {
    margin-top:-95px;
    margin-bottom:50px;
    margin-left: 122px;
    color:black;
    font-size:130%;
    font-weight:bold;
}
.exp-img {
    margin-top:-140px;
    margin-left:-142px;
}
.exp-content1 {
    margin-top:-120px;
    margin-left:300px;
    color:#0eb4b6;
    font-size:110%;
    font-weight:bold;
}
.exp-content2 {
    padding-top:10px;
    margin-left:300px;
    margin-bottom:10px;
    color:black;
    font-size :90%;
    width:80%;
}
.exp-section {
    padding-top:35px;
    height:150px;
    padding-right:150px;
}

/* location */
#map_view {
    margin:0 auto;
    margin-top:10px;
    margin-bottom:120px;
}
.map-font {
    margin-top:60px;
    text-align:center;
    font-weight:bold;
}

/* footer */
.footer-bar {
    background-color:black;
    height:200px;
}
.footer-bar2 {
    border-top:1px solid #5d5d5d;
    background-color: black;
    height:50px;
    margin-top:-16px;
}
.footer-font1 {
    text-decoration: none;
    font-size:120%;
    color:#c8c8c8;
    margin:10px 30px;
    padding:10px 0;
}
.footer-merge {
    float:left;
    margin:15px 8% 0 11%;
}
.footer-icon {
    width:30px;
    height:30px;
    margin-right:10px;
}
.footer-font2{
    margin-top:-5px;
    text-decoration:none;
    color: white;
    font-size:100%;
}
.footer-font2:hover{
    color:#c8c8c8;
}
.footer-font3 {
    margin-top:10px;
    color :white;
    text-align:center;
    font-size:85%;
}

/* scroll */
.footer {
    position:fixed;
    left:93%;
    top:80%;
    background-color: transparent;
    text-decoration: none;
    color:#bf0202;
    text-shadow: 1px 1px 1px #eaeaea;
    font-size:90%;
    width:100px;
    height:40px;
    border:none;
}
.footer:hover {
    color: #5d5d5d;
    border:none;
}

/* subtitle */
.subtitle {
    padding-top:85px;
    text-align:center;
    color:#5d5d5d;
    font-size:450%;
    font-weight:bold;
}

.explain {
    margin-top:10px;
    margin-bottom:80px;
    color:black;
    text-align:center;
    font-weight:bold;
    font-size:90%;
}



/* portfolio */

.portfolio {
    margin:10px;
    width:100%;
}
.portfolio_link {
    text-decoration:none;
    color:#bf0202;
}
.portfolio_link:hover {
    color:#c8c8c8;
}