
@font-face {
    font-family: 'nanumbarungothicregular';
    src: url('../fonts/nanumbarungothic-webfont.eot');
    src: url('../fonts/nanumbarungothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nanumbarungothic-webfont.woff2') format('woff2'),
    url('../fonts/nanumbarungothic-webfont.woff') format('woff'),
    url('../fonts/nanumbarungothic-webfont.ttf') format('truetype'),
    url('../fonts/nanumbarungothic-webfont.svg#nanumbarungothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family:'nanumbarungothicregular';
    width: 100%;
    height:100%;
}


/* header */
#head:after {
    content:"";
    display:block;
    clear:both;

}
.header-bar {
    padding-top:80px;
    width:100%;
    background-image:url('../img/wood.jpg');
    padding-bottom:50px;
    margin-bottom:80px;
    text-align:center;
}
.shadow {
    width:100%;
    background-color: #0f0b07;
    opacity:0.8;
}
.shadow:after {
    content:"";
    display:block;
    clear:both;
}
.my-photo {
    float:left;
    margin-top:45px;
    margin-right:50px;
    margin-left:20%;
    height:200px;
    width:200px;
}
.my-info
{
    margin:0 auto;
    padding-top:60px;
    padding-bottom:70px;

}
.myself-font {
    color:white;
    text-align: left;
    margin-top:40px;
    font-size:120%;
    font-weight: 300;
    margin-bottom:30px;
}
/* 소개 */
.self-font {
    color:white;
    text-align:left;
    width:700px;
    margin:0 auto;
    padding:25px 25px;
    padding-bottom:10px;
    font-weight:100;
    font-size:98%;
}

    /* language skills */
#skill:after{
    content:"";
    display:block;
    clear:both;
}
.skills {
    letter-spacing:0.1px;
    line-height:130%;
}

.skill-img {
    margin-top:10px;
    width:170px;
    height:170px;
}
.skill-font {
    width:240px;
    color:black;
    font-size:100%;
    font-weight:bold;
    margin:25px 0;
}
.skill-font2 {
    width:220px;
    color:black;
    font-size:90%;
    margin-left:25px;
}
.division {
    float:left;
    width:20%;
}


/* experience */
#exp:after{
    content:"";
    display:block;
    clear:both;
   padding-bottom:20px;
}
.experience {
    background-image:url('../img/exp.png');
    width:100%;
    margin-bottom:80px;
    letter-spacing:0.1px;
    line-height:130%;
}
.exp-box {
    width: 150px;
    height: 120px;
    margin-left:100px;
}
.exp-content1 {
    padding-bottom:10px;
    color:#0eb4b6;
    font-size:110%;
    font-weight:bold;
}
.exp-content2 {
    color:black;
    font-size :90%;
}
.exp-margin {
    margin-top:-120px;
    margin-left:300px;
    margin-right:50px;
}
.exp-section {
    padding-top: 20px;
    padding-bottom:25px;
    padding-right:50px;
}

/* location */
#map_view {
    margin:0 auto;
    margin-top:10px;
    margin-bottom:120px;
}
.map-font {
    margin-top:60px;
    text-align:center;
    font-weight:bold;
}

/* footer */
.footer-bar {
    background-color:black;
    height:200px;
}
.footer-bar2 {
    border-top:1px solid #5d5d5d;
    background-color: black;
    height:50px;
    margin-top:-16px;
}
.footer-font1 {
    text-decoration: none;
    font-size:120%;
    color:#c8c8c8;
    margin:10px 30px;
    padding:10px 0;
}
.footer-merge {
    float:left;
    margin:15px 8% 0 11%;
}
.footer-icon {
    width:30px;
    height:30px;
    margin-right:10px;
}
.footer-font2{
    margin-top:-5px;
    text-decoration:none;
    color: white;
    font-size:100%;
}
.footer-font2:hover{
    color:#c8c8c8;
}
.footer-font3 {
    margin-top:10px;
    color :white;
    text-align:center;
    font-size:85%;
}

/* scroll */
.up-scroll {
    color:#bf0202;
    text-shadow: 0.5px 0.5px 0.5px #eaeaea;
    font-size:90%;
    margin-right:20px;
    text-align:center;
    position:fixed;
    bottom:30px;
    right:10px;
}
.up-scroll a{
    color:#bf0202;
    text-decoration: none;
}
.up-scroll a:hover {
    color: #5d5d5d;
    border:none;
}

/* subtitle */
.subtitle {
    padding-top:50px;
    text-align:center;
    color:#5d5d5d;
    font-size:450%;
    font-weight:bold;
}

.explain {
    margin-top:10px;
    margin-bottom:80px;
    color:black;
    text-align:center;
    font-weight:bold;
    font-size:90%;
}



/* portfolio */

.portfolio {
    margin:10px;
    width:100%;
    height: 100%;
}
.portfolio_link {
    text-decoration:none;
    color:#bf0202;
}
.portfolio_link:hover {
    color:#c8c8c8;
}


/* navigation */

.navigation {
    background-color: white;
    border-bottom:1px solid #eaeaea;
    z-index:9999;
    height:50px;
}
.navbar .navbar-brand {

    color:red;
    font-weight: bold;
    font-size:140%;
}
.navbar .navbar-brand:hover {
    color:black;
}
.navbar a {
    padding-left:40px;
    color:black;
    font-size:110%;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: white;
    color:black;
}
.icon-bar {
    background-color:#777;
}
#myNavbar {
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}
.navbar-right{
    margin-right:40px;
}


/* 반응형 */
@media (max-width: 768px) {
    .nav>li>a {
        padding: 10px 40px;
    }
    .self-font{
        width:100%;
    }
}

@media (max-width: 1120px) {
    .division {
        width:100%;
        clear:both;
    }
    .skill-font,
    .skill-font2 {
        width:100%;
        margin:15px 0;
        padding:0 40px;
    }
    .skill-font2 {
        padding-bottom:30px;
    }
    .skill-img {
        margin:0;
        width:200px;
        height:200px;
    }
    .experience {
        text-align:center;
        background-size: cover;
    }
    .exp-box {
        width: 200px;
        height:160px;
        margin-left:0;
    }
    .exp-margin {
        margin:0;
        text-align: center;
    }
    .exp-content1 {
        padding-top:20px;
    }
    .exp-content2 {
        padding:0 40px;
    }
    .exp-section {
        padding-left:20px;
    }
    .hyperlink-blog {
        text-weight:bold;
        padding-bottom:100px;
    }
}

.margin {
    height:100px;
}